{{define "body"}}
<p>Hello, <b>{{.User.DisplayName}}</b></p>
<h2>Habit: <b>{{.Habit.Title}}</b></h2>
<p><a href="/">Back to habits</a></p>

<h2>Check from here</h2>
<form action="/checks" method="post">
  {{ .CSRFHiddenInput }}
  <input type="hidden" name="habit_uuid" value="{{.Habit.UUID}}">
  <input type="date" name="date" value="{{.NextCheckDate}}" required>
  <input type="submit" value="check">
</form>

<h2>Rename</h2>
<form action="/update-habit" method="post" onsubmit="return window.confirm('Rename?')">
  {{ .CSRFHiddenInput }}
  <input type="hidden" name="habit_uuid" value="{{$.Habit.UUID}}">
  <input type="value" name="title" value="{{$.Habit.Title}}">
  <input type="submit" value="rename">
</form>

{{if .Checks}}
<h2>Uncheck last {{len .Checks}} checks</h2>
<form action="/delete-check" method="post" onsubmit="return window.confirm('Uncheck?')">
  {{ .CSRFHiddenInput }}
  <input type="hidden" name="habit_uuid" value="{{.Habit.UUID}}">
  <select name="date">
    {{range .Checks}}
      <option value="{{.Date}}">{{.Date}}</option>
    {{end}}
  </select>
  <input type="submit" value="uncheck">
</form>
{{end}}
{{end}}
