{{define "body"}}
<p>Hello, <b>{{.User.DisplayName}}</b></p>

{{if .Habits}}
<h2>Your Habits</h2>
{{range .Habits}}
  <h3>
    <a href="/habits/{{.UUID}}">{{.Title}} ({{.ChecksCount}})</a>
    {{if .LatestCheck}}<span>{{.LatestCheck.Date}}</span>{{else}}<span>No record in the past week</span>{{end}}
  </h3>
{{end}}
{{end}}

<details>
  <summary>Actions</summary>

  <h2>Create Habit</h2>
  <form action="/habits" method="post">
    {{ .CSRFHiddenInput }}
    <input type="text" name="title" placeholder="habit title" required>
    <input type="submit" value="create">
  </form>

  {{if .Habits}}
  <h2>Archive Habit</h2>
  <form action="/archive-habit" method="post" onsubmit="return window.confirm('Archive habit?')">
    {{ .CSRFHiddenInput }}
    <select name="habit_uuid">
      {{range .Habits}}
        <option value="{{.UUID}}">{{.Title}}</option>
      {{end}}
    </select>
    <input type="submit" value="archive">
  </form>

  <h2>Delete Habit</h2>
  <form action="/delete-habit" method="post" onsubmit="return window.confirm('Delete habit?')">
    {{ .CSRFHiddenInput }}
    <select name="habit_uuid">
      {{range .Habits}}
        <option value="{{.UUID}}">{{.Title}}</option>
      {{end}}
    </select>
    <input type="submit" value="delete">
  </form>
  {{end}}
  
  <h2>Account</h2>
  <form action="/logout" method="post" onsubmit="return window.confirm('Logout?')">
    {{ .CSRFHiddenInput }}
    <input type="submit" value="logout">
  </form>
  <form action="/delete-account" method="post" onsubmit="return window.confirm('Delete account?')">
    {{ .CSRFHiddenInput }}
    <input type="submit" value="delete account">
  </form>
</details>

{{if .ArchivedHabits}}
<details>
  <summary>Archived Habits</summary>

  <form action="/unarchive-habit" method="post" onsubmit="return window.confirm('Unarchive habit?')">
    {{ .CSRFHiddenInput }}
    <select name="habit_uuid">
      {{range .ArchivedHabits}}
        <option value="{{.UUID}}">{{.Title}} ({{.ChecksCount}})</option>
      {{end}}
    </select>
    <input type="submit" value="unarchive">
  </form>
</details>
{{end}}
{{end}}
